/* ==========================================================
   NEXUS GRID
========================================================== */

.nx-grid{

    display:grid;

    gap:24px;

}

.nx-grid-2{

    grid-template-columns:

        repeat(2,1fr);

}

.nx-grid-3{

    grid-template-columns:

        repeat(3,1fr);

}

.nx-grid-4{

    grid-template-columns:

        repeat(4,1fr);

}

.nx-grid-auto{

    grid-template-columns:

        repeat(

            auto-fit,

            minmax(260px,1fr)

        );

}